---
---

@import "{{ site.theme }}";

#header_image {
  float: left;
  margin: 1em;
  clear: both;
  outline: none;
  position: static;
  padding: 5px;
  border: 0;
  padding-bottom: 1em;
  
  box-shadow: none;
  
}

.inner {
  max-width: 80%;
}

#main_content.inner {
  max-width: 70%;
}

div.outer {
  padding-bottom: 1em;
}
