---
---

@import "{{ site.theme }}";

#header_image {
  float: left;
  margin: 1em;
  clear: both;
  outline: none;
  position: static;
  border: 0;
  padding: 0;
  padding-bottom: 1em;
  
  box-shadow: none;
  
}

.inner {
  max-width: 80%;
}

#main_content.inner {
  max-width: 70%;
}

div.outer {
  padding-bottom: 1em;
}

#side_nav {
  float: left;
  width: 10%;
  background-color: #666;
}

#side_nav a {
  text-decoration: none;
  color:#373737;
}

#side_nav ul li {
  list-style-type: none;
  padding: 0.5em;
}
