---
---

@import "{{ site.theme }}";

#header_image {
  float: left;
  margin: 1em;
  clear: both;
  outline: none;
  position: static;
  border: 0;
  padding: 0;
  padding-bottom: 1em;
  
  box-shadow: none;
  
}

.inner {
  max-width: 80%;
}

#main_content.inner {
  max-width: 70%;
}

div.outer {
  padding-bottom: 1em;
}

img {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  #header_image { width: 64px; height: 64px; }
}
